body {
  height: 100%;
  display: grid;
  grid-template-rows: 50px 200px auto;
  grid-gap: 5px;
  font-family: helvetica;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.navbar {
  background-color: lavender;
  display: grid;
  grid-template-columns: repeat(12, auto);
}

.navbar h3 {
  grid-column: span 2;
  margin-left: 10px;
}

.first {
  grid-column: -3;
}

.second {
  grid-column: -2;
}

.third {
  grid-column: -1;
}

.header {
  background-color: mistyrose;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header > h1 {
  font-size: 40px;
}

.button-align {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: 20px solid black;
}

.edit-button {
  margin-right: 50px;
  width: 100px;
  height: 50px;
  color: black;
  font-size: 25px;
  font-family: helvetica;
  border: 1px solid black;
}

input[type=submit] {
  background-color: indianred;
  margin-left: 40px;
  width: 100px;
  height: 50px;
  color: black;
  font-size: 25px;
  font-family: helvetica;
  border: 1px solid black;
}

input[type=submit]:hover {
  color: blue;
}

.edit-button:nth-child(1) {
  background-color: yellow;
}

.edit-button:nth-child(1):hover {
  color: blue;
}

img {
  height: 200px;
  width: 200px;
}

.items-grid {
  background-color: paleturquoise;
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: repeat(auto-fit, minmax);
}

.item-instance {
  grid-column: span 1;
  background-color: papayawhip;
  border: 3px solid black;
  text-align: center;
  position: relative;
}

.item-name {
  text-decoration: underline;
}

.item-price {
  text-decoration: underline;
}
