<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='merchants/merchant_index.css' type='text/css' title='CSS'>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <title>Merchant Index</title>
</head>
<body>
  <section class="navbar">
      <h3>LittleShop</h3>
      <aside class="nav-links">
        <a href='/merchants'>Merchants</a>
        <a href='/items'>Items</a>
        <a href='/invoices'>Invoices</a>
      </aside>
    </section>
  <section class='banner'>
    <p>Dashboard</p>
    <h1>Merchants</h1>
    <form action="/merchants/new" method="GET">
      <input type='button' value="New Merchant" width="50"/>
    </form>
  </section>
  <section class='grid-list'>
    <% @merchants.each do |merchant| %>
    <p> <a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></p>
    <a href="/merchants/<%= merchant.id %>/edit"><button>Edit</button></a>
      <form action='/merchants/<%= merchant.id %>' method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type='submit' value='delete' />
    </form>
    <% end %>
  </section>
</body>
</html>
