<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' type='text/css' href='/main.css' >
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
  <title>Merchants Index</title>
</head>
<body>
  <!-- <nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Balance Web Development</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">About</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Design</a></li>
						<li><a href="#">Development</a></li>
						<li><a href="#">Consulting</a></li>
					</ul>
				</li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
</nav> -->
  <div class="navbar">
    <h3>Little Shop</h3>
    <ul>
      <li><a href='/merchants'><h3>Merchants</h3></a></li>
      <li><a href='/items'><h3>Items</h3></a></li>
      <li><a href='/invoices'><h3>Invoices</h3></a></li>
    </ul>
  </div>
  <div class='header'>
    <h3 class='dashboard'>Dashboard</h3>
    <h1>Merchants</h1>
    <a href='/merchants/new'><h3>Create A New Merchant</h3></a>
  </div>
  <div class='index'>
    <% @merchants.each do |merchant| %>
      <div class=index-instance>
        <h3><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></h3>
        <a href="/merchants/<%= merchant.id %>/edit" class='edit'><h3>Edit</h3></a>
        <form class='delete' action='/merchants/<%= merchant.id %>' method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type='submit' value='Delete' />
        </form>
      </div>
    <% end %>
  </div>

