<form action='/merchants' method='post'>
  <p> Enter a new Merchant: </p>
  <input type='text' name='merchant[name]'/><br/>
  <input type='submit' value='do the dang thang'/>
</form>
<a href="/merchants"> Merchants Index </a>
