body {
  height: 100%;
  display: grid;
  grid-template-rows: 50px 160px auto;
  grid-gap: 5px;
  font-family: helvetica;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.navbar {
  background-color: lavender;
  display: grid;
  grid-template-columns: repeat(12, auto);
}

.navbar h3 {
  grid-column: span 2;
  margin-left: 10px;
}

.first {
  grid-column: -3;
}

.second {
  grid-column: -2;
}

.third {
  grid-column: -1;
}

.header {
  background-color: mistyrose;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header > h1 {
  font-size: 40px;
}

.button-align {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-style: 20px solid black;
}

.edit-button {
  margin-right: 50px;
  width: 200px;
  height: 39px;
  color: black;
  font-size: 20px;
  font-family: helvetica;
  border: 1px solid black;
}

input[type=submit] {
  background-color: indianred;
  margin-left: 40px;
  color: black;
  width: 200px;
  height: 38px;
  font-size: 20px;
  font-family: helvetica;
  border: 1px solid black;
}

input[type=submit]:hover {
  color: blue;
}

.edit-button:nth-child(1) {
  background-color: yellow;
}

.edit-button:nth-child(1):hover {
  color: blue;
}

a.align-text {
  background-color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.index {
  background-color: paleturquoise;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-instance {
  width: 70%;
  height: 30px;
  background-color: aliceblue;
  border: 1px solid black;
  margin: 5px;
  padding: 0px 5px;
  display: grid;
  grid-template-columns: 15% 65% 10% 10%;
  align-content: center;
}

.index-instance:nth-child(even) {
  background-color: lightgray;
}
