<html>
  <head>
    <title>Edit Item</title>
  </head>
  <body>
    <form action="/items/<%= @item.id %>" method="POST">
      <p>Edit Item</p>
      <input type='hidden' name='_method' value="PUT" />
      <input type='text' name='item[name]' value='<%= @item.name %>' /> <br/>
      <input type='text' name='item[description]' value='<%= @item.description %>' /> <br/>
      <input type='text' name='item[unit_price]' value='<%= @item.unit_price %>' /> <br/>
      <input type="submit" value='submit'/>
    </form>
    <a href="/items"> Items Index </a>
  </body>
</html>
