body {
  height: 100%;
  display: grid;
  grid-template-rows: 50px 200px auto;
  grid-gap: 5px;
  font-family: helvetica;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.navbar {
  background-color: lavender;
  display: grid;
  grid-template-columns: repeat(12, auto);
}

.navbar h3 {
  grid-column: span 2;
  margin-left: 10px;
}

.first {
  grid-column: -3;
}

.second {
  grid-column: -2;
}

.third {
  grid-column: -1;
}

.header {
  background-color: mistyrose;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-display {
  background-color: paleturquoise;
  display: grid;
  justify-content: center;
  align-items: center;

}

.edit-display form{
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 25px;
  width: 600px;
  height: 350px;
  border: 1px solid black;
}

.name-box {
  height: 50px;
  width:  590px;
  font-size: 25px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
}

.buttons button {
  background-color: indianred;
  color: black;
  width: 150px;
  font-size: 15px;
  font-family: helvetica;
  border: 1px solid black;
}


input[type=submit] {
  background-color: green;
  color: black;
  width: 150px;
  font-size: 15px;
  font-family: helvetica;
  border: 1px solid black;
}

input[type=submit]:hover {
  color: blue;
}
