body {
  height: 100%;
  display: grid;
  grid-template-rows: 50px 200px auto;
  grid-gap: 5px;
  font-family: helvetica;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.navbar {
  background-color: lavender;
  display: grid;
  grid-template-columns: repeat(12, auto);
}

.navbar h3 {
  grid-column: span 2;
  margin-left: 10px;
}

.first {
  grid-column: -3;
}

.second {
  grid-column: -2;
}

.third {
  grid-column: -1;
}

.header {
  background-color: mistyrose;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard {
  align-self: flex-start;
  margin-left: 10px;
  text-decoration: underline;
}

.create-new button {
  color: black;
  font-size: 20px;
  font-family: helvetica;
  border: 1px solid black;
}

.create-new button:hover {
  color: blue;
}

.index {
  background-color: paleturquoise;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-instance {
  width: 70%;
  height: 30px;
  background-color: aliceblue;
  border: 1px solid black;
  margin: 5px;
  padding: 0px 5px;
  display: grid;
  grid-template-columns: 70% 10% 10%;
  align-content: center;
}

.index-instance:nth-child(even) {
  background-color: lightgray;
}

.index-title {
  text-decoration: underline;
}

.edit {
  grid-column: -2;
  margin-top: 16px;
}

.edit button {
  background-color: yellow;
  width: 70px;
  color: black;
  font-size: 20px;
  font-family: helvetica;
  border: 1px solid black;
}

.edit button:hover {
  color: blue;
}

.delete {
  grid-column: -1;
  margin-top: 16px;
}

input[type=submit] {
  background-color: indianred;
  color: black;
  width: 70px;
  font-size: 20px;
  font-family: helvetica;
  border: 1px solid black;
}

input[type=submit]:hover {
  color: blue;
}
