body {
  height: 100%;
  display: grid;
  grid-template-rows: 50px 200px auto;
  grid-gap: 5px;
  font-family: helvetica;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.navbar {
  background-color: lavender;
  display: grid;
  grid-template-columns: repeat(12, auto);
}

.navbar h3 {
  grid-column: span 2;
  margin-left: 10px;
}

.first {
  grid-column: -3;
}

.second {
  grid-column: -2;
}

.third {
  grid-column: -1;
}

.header {
  background-color: mistyrose;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: paleturquoise;
  display: grid;
  align-items: center;
  justify-content: center;
}

.form-box {
  border: 1px solid black;
  height: 350px;
  width: 600px;
  margin: 25px;
  background-color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.name-box {
  width: 90%;
  height: 30px;
  font-size: 20px;
}
/*
.edit {
  grid-column: -2;
  margin-top: 16px;
}

.edit button {
  background-color: yellow;
  width: 70px;
  color: black;
  font-size: 20px;
  font-family: helvetica;
  border: 1px solid black;
}

.edit button:hover {
  color: blue;
} */

.cancel {
  background-color: indianred;
  color: black;
  width: 150px;
  font-size: 15px;
  font-family: helvetica;
  border: 1px solid black;
}

input[type=submit] {
  background-color: green;
  color: black;
  width: 150px;
  font-size: 15px;
  font-family: helvetica;
  border: 1px solid black;
}

input[type=submit]:hover {
  color: blue;
}
